.git
.gitignore
target
frontend/node_modules
frontend/dist
frontend/.env
*.log
.DS_Store
.env
.env.*
*.swp
*.swo
.travis.yml
.github
.vscode
.idea
*.md
!README.md
!DOCKER.md
!CHANGELOG.md
LICENSE
Makefile
docker-compose.yml
docker-config.toml
